name: Test

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - '*'

env:
  FORCE_COLOR: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - uses: actions/setup-node@v6
        with:
          node-version-file: package.json
          cache: pnpm
      - run: pnpm install && pnpm add -D @reporters/github
      - run: pnpm lint
      - run: node --test --test-reporter=@reporters/github --test-reporter-destination=stdout --test-reporter=spec --test-reporter-destination=stdout
